.button-container {
  button {
    margin: 24px;
    width: 400px;
    white-space: normal;
  }
}

.explanation-container {
  padding: 10%;
}

.quiz-container {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}