<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name"></h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item href="#" (click)="onSelectRandomQuestion(); snav.toggle();">Random Question</a>
        <a mat-list-item href="#" *ngFor="let question of questions" (click)="onSelectQuestion(question); snav.toggle();">Question {{ question.id }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngIf="selectedQuestion" class="quiz-container">
        <h1>{{ selectedQuestion.title }}</h1>
        <pre *ngIf="selectedQuestion.code"><code [highlight]="selectedQuestion.code" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
        <p class="code-snippet"></p>
        
        <div *ngFor="let option of selectedQuestion.options" class="button-container">
          <button mat-flat-button *ngIf="option===selectedAnswer && hasAnswered" color="warn" (click)="onAnswer(option)">
            {{option.text}}
          </button>
          <button mat-flat-button *ngIf="option.correct && hasAnswered" color="accent" (click)="onAnswer(option)">
            {{option.text}}
          </button>
          <button mat-flat-button *ngIf="" (click)="onAnswer(option)">
            {{option.text}}
          </button>
          <button mat-flat-button *ngIf="(!hasAnswered) || (!option.correct && option!==selectedAnswer && hasAnswered)" (click)="onAnswer(option)">
            {{option.text}}
          </button>
        </div>
        <h2 *ngIf="hasAnswered" class="explanation-container">
          {{ selectedQuestion.explanation }}
        </h2>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>