<div *ngIf="selectedQuestion" class="quiz-container">
  <h1>{{ selectedQuestion.title }}</h1>
  <pre *ngIf="selectedQuestion.code"><code [highlight]="selectedQuestion.code" [languages]="['typescript']" [lineNumbers]="true"></code></pre>
  <p class="code-snippet"></p>

  <div *ngFor="let option of selectedQuestion.options" class="button-container">
    <button mat-flat-button *ngIf="option===selectedAnswer && hasAnswered" color="warn" (click)="onAnswer(option)">
      {{option.text}}
    </button>
    <button mat-flat-button *ngIf="option.correct && hasAnswered" color="accent" (click)="onAnswer(option)">
      {{option.text}}
    </button>
    <button mat-flat-button *ngIf="" (click)="onAnswer(option)">
      {{option.text}}
    </button>
    <button mat-flat-button *ngIf="(!hasAnswered) || (!option.correct && option!==selectedAnswer && hasAnswered)" (click)="onAnswer(option)">
      {{option.text}}
    </button>
  </div>
  <app-countdown-timer></app-countdown-timer>
  <h2 *ngIf="hasAnswered" class="explanation-container">
    {{ selectedQuestion.explanation }}
  </h2>
</div>
